<!-- <div class="row">
  <div class="col-xs-20 ">
    <button class="btn btn-success" (click)="onNewArt()">New Art</button>
  </div>
</div>
<hr> -->

<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <button type="button" class="btn btn-success btn-lg" style="margin-top:80px" (click)="onNewArt()">New Art
            
        </button>
      </div>
    </div>
  </div>

<div class="row">
  <div class="col-sm-12">
    <app-art-item
      *ngFor="let artEl of arts; let i = index"
      [art]="artEl"
      [index]= "i">
    </app-art-item>
  </div>
</div>