<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-lighten-2">Parallax Theme</h1>
      <div class="row center">
        <h5 class="header col s12 light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</h5>
      </div>
      <div class="row center">
        <a href="#" class="btn-large waves-effect waves-light purple lighten-1">Find more</a>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax" materialize="parallax"><img src="https://fthmb.tqn.com/zc17q_hdFwiyqQdailgjzij61LI=/1999x1500/filters:no_upscale():fill(transparent,1)/GettyImages-200563842-001-59b1b2c0396e5a0010070496.jpg"
      alt="Unsplashed background img 2"></div>
</div>

<div style="background-color:cyan">
  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center" style="color:#333"><i class="mdi-av-new-releases"></i></h2>
            <h5 class="center">Feature one</h5>

            <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua. Ut enim ad minim </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center" style="color:#333"><i class="mdi-hardware-cast"></i></h2>
            <h5 class="center">Feature two</h5>

            <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua. Ut enim ad minim </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center" style="color:#333"><i class="mdi-hardware-keyboard-alt"></i></h2>
            <h5 class="center">Feature three</h5>
            <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua. Ut enim ad minim </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12" style="color: #333;">Vertically centered text</h5>
      </div>
    </div>
  </div>
  <div class="parallax" materialize="parallax">
    <img src="https://lh6.googleusercontent.com/ECNGkgRHM-H8QWnKmpbsQM-tCUmFsQJT2IoHYrLlU-cBWZ84aSSZsMLLnm9rHjNvqwPpCzEONEMcSdQekUN6=w2924-h1599-rw"
      alt="img"></div>
</div>

<div style="background-color:cyan">
  <div class="container section scrollspy" id="projects">
    <div class="section">
      <br>
      <br>
      <h4 class="center">Our Work</h4>
      <br>
    </div>
    <div materialize="slider" class="slider">
      <ul class="slides">
        <li>
          <img src="http://192.168.182.131:3000/uploads/site/picture/87/picture.jpeg">
          <!-- random image -->
          <div class="caption center-align">
            <h3>This is our big Tagline!</h3>
            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
          </div>
        </li>
        <li>
          <img src="https://static.pexels.com/photos/67636/rose-blue-flower-rose-blooms-67636.jpeg">
          <!-- random image -->
          <div class="caption left-align">
            <h3>Left Aligned Caption</h3>
            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
          </div>
        </li>
        <li>
          <img src="https://static.pexels.com/photos/67636/rose-blue-flower-rose-blooms-67636.jpeg">
          <!-- random image -->
          <div class="caption right-align">
            <h3>Right Aligned Caption</h3>
            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
          </div>
        </li>
        <li>
          <img src="https://get.pxhere.com/photo/group-white-green-red-collection-color-brown-blue-colorful-yellow-pink-yarn-wool-material-fabric-thread-woolen-knitting-textile-art-crafts-rolls-balls-skeins-wound-textiles-602117.jpg">
          <!-- random image -->
          <div class="caption center-align">
            <h3>This is our big Tagline!</h3>
            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
          </div>
        </li>
      </ul>
    </div>

    <div class="center">
      <a class="waves-effect waves-light btn purple lighten-1" routerLink="/art">View more</a>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper section scrollspy" id="aboutus">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="center row col s3">

        <h3>About Us</h3>
      </div>
      <div class="center row col s12">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua. Ut enim ad minim veniam Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
      </div>

    </div>
  </div>
  <div class="parallax" materialize="parallax"><img src="https://get.pxhere.com/photo/group-white-green-red-collection-color-brown-blue-colorful-yellow-pink-yarn-wool-material-fabric-thread-woolen-knitting-textile-art-crafts-rolls-balls-skeins-wound-textiles-602117.jpg"
      alt="img"></div>
</div>



<div class="container section scrollspy" id="contactus">
  <div class="section">
    <br>
    <br>
    <h2>Contact Us</h2>

    <div class="row">

      <form class="col s8" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <!-- <div class="row">
          <div class="input-field col s6">
              <input
              type="text"
              id="name"
              class="form-control"
              formControlName="name">
              <label for="name">Your Name</label>
          </div> -->

        <div class="row">
          <div class="input-field col s12">
            <input 
            id="email" 
            type="email" 
            class="validate form-control"
            formControlName="email">
            <label for="email">Your Email</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input 
            id="messageSubs" 
            type="text" 
            class="validate form-control"
            formControlName="messageSub">
            <label for="messageSub">Message subject</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <textarea 
            id="text" 
            class="materialize-textarea form-control"
            formControlName="text">
          </textarea>
            <label for="text">Your Message</label>
          </div>
        </div>


        <div>
            <button
            type="submit"
            class="waves-effect waves-light btn purple lighten-1"
            (click)="onCancel()"
            >Send Message</button>
          <!-- <a class="waves-effect waves-light btn purple lighten-1" (click)="onCancel()">Send Message<i class="mdi-content-send right"></i></a> -->
        </div>
      </form>
    </div>
  </div>
</div>


<footer class="page-footer purple lighten-1">

  <div class="footer-copyright">
    <div class="container">
      <p>Copyright © Your website name</p>
    </div>
  </div>
</footer>