<form (ngSubmit)="onSignInSubmit()" #f="ngForm" >
  
  <div class="row">

    <div class="input-field col s12">
      <input placeholder="Email" 
        id="email"
        type="email"
        required
        name='email' 
        [(ngModel)]="signInUser.email" 
        class="validate">
    </div>  

    <div class="input-field col s12">
      <input placeholder="Password" id="password" 
        type="password" 
        required  
        name='password' 
        [(ngModel)]="signInUser.password" 
        class="validate">
    </div>

    <div class="col s12 ">
      <button type="submit" 
        [disabled]="!(f.valid)" 
        [ngClass]="{'disabled': !(f.valid)}" 
        class="waves-effect waves-light btn blue right"
      >Login</button>
    </div>  
  </div>
  <a routerLink = "/home" class="waves-effect waves-light btn blue right">Back to Main Page</a>
  
  </form>