<ul id="dropdown1" class="dropdown-content" style="margin-left:-40px">
  <li routerLinkActive="active"><a routerLink="/art">Gallery</a></li>
  <li *ngIf="auth.canActivate()" routerLinkActive="active"><a routerLink="/category">Categories</a></li>
  <li *ngIf="!tokenGuard.userSignedIn()" routerLinkActive="active"><a routerLink="/login">Login</a></li>
  <li *ngIf="tokenGuard.userSignedIn()"><a routerLink="/home" (click)="tokenGuard.signOut()">Logout</a></li>
</ul>
<div id="navbar" class="navbar-fixed scrollspy">
  <nav class="white">
    <div class="nav-wrapper container">
      <div class="container"> <a routerLink="/home" class="brand-logo">Logo</a></div>

      <a data-activates="mobile-demo" class="button-collapse">
            <i class="mdi-navigation-menu">
              <a class="dropdown-button btn" data-activates="dropdown1" style="margin-left:-40px" materialize="dropdown">Menu</a></i>
      </a>
      <ul class="right hide-on-med-and-down">

        <li routerLinkActive="active"><a routerLink="/art">Gallery</a></li>
        <li *ngIf="auth.canActivate()" routerLinkActive="active"><a routerLink="/category">Categories</a></li>
        <li *ngIf="!tokenGuard.userSignedIn()" routerLinkActive="active"><a routerLink="/login">Login</a></li>
        <li *ngIf="tokenGuard.userSignedIn()"><a routerLink="/home" (click)="tokenGuard.signOut()">Logout</a></li>

      </ul>
    </div>
  </nav>
</div>
