<!-- [routerLink]="[art.id]" -->
<!-- [href] = "'http://192.168.182.131:3000' + art.picture.url" -->
<a 
routerLinkActive="active" 
[routerLink]="[art.id]">
  <!-- <div class="pull-left">
  <h4 class="list-group-item-heading">{{ art.title }}</h4>
  <p class="list-group-item-text">{{ art.description }}</p>
  <p class="list-group-item-text">{{ art.id }}</p>
</div> -->
  <img 
    class="materialboxed row col-sm-4 img-responsive" 
    materialize="materialbox"
    style="margin-top:20px" 
    [attr.data-caption]="art.description" 
    [src]="art.picture.url">
</a>